@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
  *, 
::after,
::before {
        box-sizing: border-box;
}
  /* Body */
body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #ffffff;
    color: #000000;
    font-weight: 400;
    padding: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    width: 1200px;
  }
html {
    box-sizing: border-box;
    height: 100%;
    background-color: #E5E5E5;
}
  /* main */
.main {
    flex-grow: 1;
  }
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #83B3D3;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    border-radius: 4px;
    
  }
.button:hover{
    background-color: #68A2CA;
}
.button:active{
    background-color: #68A2CA;
    color: #FFFFFF;
    opacity: 0.3;
}
.button:focus{
    background-color:  #68A2CA;
    border: 3px solid #756257; 
}
a{
    text-decoration: none;
}
fieldset{
    border: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    }
.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
  }

/* menu */
.navigation{
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
}
.logo-link{
    display: block;
    height: 70px;
    width: 139px;
}
.menu{  
    display: flex;
    padding-left: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu-user{
    margin-left: 299px; 
    display: flex;
}
.menu li {
    margin-right: 34px;
}
.menu-link{
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
    position: relative;
    display: block;
}
.menu-link-current::after{
    display: block;
    content: "";
    background-color: #756257;
    top: 50px;
    height: 2px;
    width: 100%;
    left: 0%;
    position: absolute;
}
.menu-link:hover{
    color:#756257;
}
.menu-link:active{
    color: #756257;
    opacity: 30%;
}
.menu-user-icon-search svg{
    fill:#000000;
}
.menu-user-icon-search svg:hover{
    fill:#756257;
}
.menu-user-icon-search svg:active{
    fill:#756257;
    opacity: 0.3;
}
.heart-icon{
    fill: black;
}
.heart-icon:hover{
    fill: #756257;
}
.heart-icon:active{
    opacity: 0.3;
}
.twelve-icon:active{
    opacity: 30%;
}
.menu-item-button{
    background-color: #756257;
    padding: 9px 15px;
    margin-top: 14px;
    margin-left: 20px;
}
.menu-item-button:hover{
    background-color: #615048;
}
.menu-item-button:active{
    background-color: #615048;
    color: #FFFFFF;
    opacity: 0.3;
}
.menu-item-button:focus{
    border: 3px solid #83B3D3;
    background-color: #615048;
}
/* index */
.sedona-img{
    background: url("../images/whitevector.svg"),
                url("../images/indexbackground.jpg");  
    background-size: 100%, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, 0 0;
}
.sedona-img img{
    padding-top: 51px;
    padding-bottom: 81px;
    display: block;
    margin: 0 auto;
}

.sedona-description{
    text-align: center;
    margin: 0 auto;
    padding-top: 63px;
    padding-bottom: 80px;
    width: 680px;
}
.sedona-description h2{
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase; 
    font-weight: 700;
}
.sedona-description p{
    font-size: 22px;
    line-height: 36px;
}

.reason-img img{
    height: 100%;
}
.reason-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.reason-list-more{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: stretch;
}
.reason{
    text-align: center;
}
.reason-canvas{
    margin: 0;
    padding-top: 97px;
    padding-bottom: 87px;
    padding-left: 75px;
    padding-right: 75px;
    width: 400px;
    background: rgba(131, 179, 211, 0.12);
}
.reason-canvas-home{
    background-image: url("../images/home.svg");
    background-repeat: no-repeat;
    background-position: center 89px;
    padding-top: 184px;
    padding-bottom: 79px;
    margin: 0;
}
.reason-canvas-food{
    background: #ffffff;
    background-image: url("../images/food.svg");
    background-repeat: no-repeat;
    background-position: center 91px;
    padding-top: 184px;
    padding-bottom: 79px;
    margin: 0;
}
.reason-canvas-souvenirs{
    background-image: url("../images/souvenirs.svg");
    background-repeat: no-repeat;
    background-position: center 85px;
    padding-top: 184px;
    padding-bottom: 79px;
    margin: 0;
}
.canvas-blue{
    background-color: #83B3D3;
    color: #ffffff;
}
.canvas-light{
    background-color: rgba(131, 179, 211, 0.2);
}

.reason-title{
    font-size: 25px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase; 
}
.reason-item-wrapper{
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: space-between;
    align-items: stretch;
}
.search{
    text-align: center;
    padding-bottom: 93px;
    padding-top: 91px;
}
.search-title{
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
}
.search-text{
    font-size: 22px;
    line-height: 26px;
}
.search-button{
    background-color: #756257;
    border-radius: 10px;
    font-size: 20px;
    line-height: 36px;
    width: 575px;
    margin-top: 56px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.search-button:hover{
    background-color: #615048;
}
.search-button:active{
    background-color: #615048;
    color: #FFFFFF;
    opacity: 0.3;
}
.search-button:focus{
    border: 3px solid #83B3D3;
    background-color: #615048;
}
/* subscribe */
.subscribe {
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;       
}
.subscribe-background{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;  
}
.subscribe-form{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
}
.subscribe-input{
    border-radius: 10px 0px 0px 10px;
    padding-left: 22px;
    color:#000000;
    font-size: 18px;
    line-height: 26px;
    border: none;
    background-color: #F2F2F2;;
    padding-left: 22px;
    padding-right: 19px;
}
.subscribe-input:hover{
    background-color:#E6E6E6;
}
.subscribe-input:focus{
    background-color:#E6E6E6;
    border: 3px solid #83B3D3;
    outline: none;
}
.subscribe-input:invalid{
    border: 2px solid #FF5757;
}
.button-subscribe{
    font-size: 20px;
    line-height: 26px;
    border-radius: 0px 10px 10px 0px;
}

.subscribe-title{
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase; 
    font-weight: 700;   
}
.subscribe-text{
    font-size: 22px;
    line-height: 26px;
}

/* Contacts */
.contacts {
    display: grid;
    grid-template-columns: auto 1fr auto;
    text-align: center;
    padding: 40px 72px;
}
.contacts a:focus{
    border: 2px solid #68A2CA;
    border-radius: 4px;
}
.social-list{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
}
.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.contacts-phone{
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    display: block;
    width: 340px;
    margin: 0 auto;
}
.contacts-phone:hover{
    color: #756257;
}
.contacts-phone:active{
    color: #756257;
    opacity: 0.3;
}
.contacts-phone:focus{
    color: #756257;
}
.logo-html{
    margin-left: auto;
    display: block;
    padding: 10px;
}
.logo-html-icon{
    fill: #000000;
}
.logo-html-icon:hover{
    fill: #756257;
}
.logo-html-icon:active{
    fill: #756257;
    opacity: 0.3;
}
.logo-html-icon:focus{
    fill: #756257;
}
/* Catalog */
.page-title{
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    margin-bottom: 5px;
}
.breadcrumbs-list{
    display: flex;
}
.breadcrumbs-link{
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    margin-left: 10px;
    margin-top: 0;
}
.breadcrumbs-home{
    position: absolute;
    margin-top: 5px;
    fill: #FFFFFF;;
    margin-top: 5px;
}
.breadcrumbs-arrow{
    fill: #FFFFFF;
    margin-left: 11px;
    transform: rotate(270deg);
    margin-top: 2px;
}
.breadcrumbs-link-home{
    display: flex;
}
.breadcrumbs-link-home svg:hover{
    opacity: 0.6;
}
.breadcrumbs-link-home svg:active{
    opacity: 30%;
}
.breadcrumbs-home:focus{
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 4px;
}
.breadcrumbs-link:hover{
    opacity: 0.6;
}
.breadcrumbs-link:active{
    opacity: 30%;
}
.breadcrumbs-link:focus{
    border: 3px solid #83B3D3;
    border-radius: 4px;
}
.filter-section {
    background-image: url("../images/catalogbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    line-height: 23px;
    padding-left: 71px;
    padding-top: 35px;
    padding-bottom: 83px;
    padding-right: 72px;
}
.filter{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 45px;
}
.filter-title{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}
.filter-submit{
    line-height: 21px;
}
.filter-submit:focus{
    border: 3px solid #FFFFFF;;
}
.filter-reset{
    line-height: 23px;
    background: transparent;
    outline: none;
}
.filter-reset:hover{
    background: transparent;
    opacity: 0.6;
}
.filter-reset:active{
    background: transparent;  
    opacity: 0.3;
}
.filter-reset:focus{
    background: transparent;
    border: 3px solid #83B3D3;
    box-sizing: border-box;
}
.filter-price-controls{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.filter-price-controls input{
    color: #ffffff;
    background: transparent;
    border: none;
    padding-left: 14px;
}
.filter-price-controls label{
    opacity: 30%;
}
.filter-button{
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    padding-top: 30px;
}
.result{
    padding-left: 71px;
    padding-top: 44px;
    display: flex;
}
.result-title{
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase; 
    margin-top: 6px;
}
.result-select{
    max-height: 48px;
    max-width: 287px;
    margin-left: 192px;
    width: 287px;
}
.sort-select{
    border: 2px solid #E6E6E6;
    font-size: 18px;
    line-height: 24px;
    border-radius: 4px;
}
.sort-select:hover{
    border: 2px solid #83B3D3;
}
.sort-select:active{
    opacity: 0.3;
}
.sort-select:focus{
    border: 2px solid #83B3D3;
}
.view{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 8px;
    margin-left: 81px;
}
.view-item{
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    max-height:  48px;
}
.view-icon{
    margin-top: 17px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 17px;
}
.view-item-current{
    border: 2px solid #000000;
}
.view-item:hover{
    border: 2px solid #83B3D3;
}
.view-item:focus{
    border: 2px solid #83B3D3;
}
/* hotels */
.hotels-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 10px;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 54px;
}
.hotels-item{
    padding: 20px;
}
.hotels-img img:hover{
    opacity: 0.6;
}
.hotels-img img:active{
    opacity: 0.3;
}
.hotels-img img:focus{
    border: 3px solid #83B3D3;
}
.hotels-title{
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    padding-top: 16px;
}
.hotels-feature{
    line-height: 24px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 25px;
    padding-top: 16px;
}

.hotels-button{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 26px;
    padding-top: 16px;
}
.hotels-button-detail{
    background-color: #756257;
    line-height: 21px;
}
.hotels-button-detail:hover{
    background-color: #615048;
}
.hotels-button-detail:active{
    background-color: #615048;
    color: #FFFFFF;
    opacity: 0.3;
}
.hotels-button-detail:focus{
    border: 3px solid #83B3D3;
    background-color: #615048;
}
.hotels-button-favourites{
    line-height: 21px;
}
.hotels-button-favourites-current{
    line-height: 21px;
    background-color: #7DB54F;
}
.hotels-button-favourites-current:hover{
    background-color: #6C9E42;;
}
.hotels-button-favourites-current:active{
    background-color: #6C9E42;
}
.hotels-button-favourites-current:focus{
    background-color: #6C9E42;;
}
.hotels-rating-stars{
    margin-top: 26px;
}
.hotels-rating{
    padding-top: 16px;
    display: grid;
    grid-template-columns: 91px auto;
    grid-column-gap: 49px;
}
.rating{
    background-color: #F2F2F2;
    text-align: center;
    width: 160px;
    padding-top: 9px;
    padding-bottom: 10px;
    border-radius: 4px;
    margin-right: 0;
}
.pagination-quantity-text{
    line-height: 24px;
}

/* upload */
.upload-button{
    width: 620px;
    line-height: 26px;
    font-size: 20px;
    padding-bottom: 17px;
    padding-top: 17px;
    margin: 0 auto;
    display: block;
}
.hotels-upload{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    max-width: 1055px;
    margin-left: 73px;
}
/* pagination */
.pagination{
    padding-top: 30px;
    padding-left: 72px;
    padding-right: 72px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 300px;
}
.pagination-quantity{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 51px;
}
.pagination-list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.pagination-item{
    padding-left: 8px;
}
.pagination-button{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 55px;
    min-height: 55px;
    line-height: 26px;
    font-size: 20px;
    text-align: center; 
    color: #ffffff;
    background-color: #83B3D3;
    text-decoration: none;
    text-transform: uppercase; 
    border-radius: 4px;
}
.pagination-button-current{
    background-color: #F2F2F2;
    color:#000000;
    margin-left: 0px;
}